.cart-section {
  display: none;
  z-index: 1;
}

.cart-section .container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

main {
  position: relative;
}

.cart-section.show {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000d;
  scroll-behavior: smooth;
}

.products-section .container .products .loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 0 #e2e2e2;
  margin: 1rem;
}

.products-section .container .products .loading img {
  width: 7rem;
  -webkit-animation: rotateLoading 0.7s infinite;
  animation: rotateLoading 0.7s infinite;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

@-webkit-keyframes rotateLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Cart */
.cart {
  margin-top: 2rem;
  width: 69%;
}

.cart table.cart-products {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 0.3rem;
  color: #444;
}

.cart table.cart-products th {
  background-color: #ffeb3b;
  color: #555;
  padding: 0.7rem;
}

.cart table.cart-products th:nth-child(1) {
  background-color: #ffeb3b;
  border-radius: 0.3rem 0 0;
}

.cart table.cart-products th:last-child {
  background-color: #ffeb3b;
  border-radius: 0 0.3rem 0 0;
}

.cart table.cart-products td img {
  width: 5rem;
  height: 4rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.cart table th:not(th:last-child()),
.cart table td:not(td:last-child()) {
  border-bottom: 1px solid #ddd;
}

.cart table th,
.cart table td {
  padding: 0.5rem;
  white-space: nowrap;
}

.cart table tr td:nth-child(2) {
  white-space: break-spaces;
}

.cart table.cart-products tbody tr:nth-child(even) {
  background-color: #efefef;
}

.cart table.cart-products tbody tr:hover {
  background-color: #f3ffe5;
}

.cart table.cart-products tfoot tr td {
  padding: 0.7rem;
  font-weight: bold;
}

.cart table.cart-products tfoot tr.total td.price-total {
  background-color: #f44336;
  color: #fff;
  text-align: center;
  border-radius: 0 0 0.3rem;
}

/* ceckout */
.checkout {
  width: 30%;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #444;
}

.checkout .order,
.checkout .promo {
  background-color: #fff;
  padding: 0.7rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
}

.checkout .order>div,
.checkout .promo>div {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0rem;
}

.checkout .order>div:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.checkout .order>div>button {
  background-color: #f44336;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  color: #fff;
}

.checkout .promo {}

.checkout .promo>div {}

.checkout .promo>div>input {
  padding: 0.5rem;
  outline: none;
  color: #555;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #bbb;
  width: 100%;
}

.checkout .promo>div>button {
  padding: 0.5rem;
  color: #666;
  font-size: 1.1rem;
  border: 1px solid #bbb;
  cursor: pointer;
}

/*  */
.change-item,
.change-item {
  background-color: #f44336;
  border: 1px solid #f44336;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #fff;
}

.change-item {
  margin-right: 0.5rem;
}

.change-item {
  margin-left: 0.5rem;
  font-weight: bold;
}

.delete-item {
  text-decoration: underline;
  cursor: pointer;
}

/* code promo */
#code-promo-msg {
  font-size: .8rem
}

.success-code-promo {
  color: #068506;
  background: #caedcb;
  border: 1px solid #06850655;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  width: 100%;
}

.error-code-promo {
  color: #850606;
  background: #edcaca;
  border: 1px solid #85060655;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  width: 100%;
}


/* adv */
.prometed-card {
  /* border: 1px solid #bbb; */
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 0px #e2e2e2;
  width: 29.33%;
  margin: 2%;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prometed-img {
  width: 100%;
  height: 10rem;
  border-radius: 0.3rem 0.3rem 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  /* padding: 1rem; */
}

.prometed-title {
  font-size: 1rem;
  padding: 1rem 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #3f51b5;
  font-weight: normal;
}

.prometed-description {
  color: #777;

  padding: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #555;
  margin: 0.7rem 0;
}

.prometed-button {
  border: 1px solid;
  /* background-color: #f44336; */
  padding: 0.1rem .2rem;
  margin: .5rem;
  color: #3f51b5aa;
  border-radius: .2rem 0.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  width: max-content;
  /* font-weight: normal;
  text-align: right; */
}

/* adv */

/* shpping free */
.free-priceShipping {
  text-decoration: line-through;
  color: red;
}
/* shpping free */

/*  */
.payment-method img {
  width: 100%;
  padding: 1rem;
}
/*  */