@font-face {
  font-family: "robot regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "robot regular";
}
.container {
  width: 70%;
  margin: 0 auto;
}
/*  */
.products-section {
}
.products-section .container {
  width: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
/*  */
.products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 75%;
}
.card {
  /* border: 1px solid #bbb; */
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 0px #e2e2e2;
  width: 29.33%;
  margin: 2%;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img {
  width: 100%;
  height: 10rem;
  border-radius: 0.3rem 0.3rem 0 0;
  -o-object-fit: contain;
  object-fit: contain;
  padding: 1rem;
}
.card-title {
  font-size: 1rem;
  /* padding: 0.5rem; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */

  /*font-size: 1.3rem; */
  padding: 0 0.5rem;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #555;
}
.card-description {
  /* padding: 0.5rem; */
  color: #777;
  /* padding: 0.5rem; */

  padding: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #555;
  margin: 0.7rem 0;
}

.card-price {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.card-rating {
  padding: 0.5rem;
}
.card-rating a {
  text-decoration: none;
}
.card-rating a:hover {
  text-decoration: underline;
}
.card-rating img {
  width: 1rem;
  height: 1rem;
}
.card-rating .star-gray {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.btn-add-to-cart {
  border: none;
  background-color: #f44336;
  padding: 0.5rem;
  color: #fff;
  border-radius: 0 0 0.3rem 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
}

/* Newsletter */
.section-newsletter {
  background-image: url("../img/pattern-2.png");
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-position: right;
  background-color: #9c27b0;
  padding: 3rem 0;
}
.section-newsletter .container {
}
.section-newsletter .container .newsletter {
}
.section-newsletter .container .newsletter .form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-newsletter .container .newsletter .form input {
  font-size: 1.2rem;
  padding: 1rem;
  outline: none;
  border-radius: 0.3rem 0 0 0.3rem;
  border: none;
}
.section-newsletter .container .newsletter .form button {
  font-size: 1.2rem;
  padding: 1rem;
  outline: none;
  border-radius: 0 0.3rem 0.3rem 0;
  border: none;
  background-color: #ffeb3b;
  cursor: pointer;
}
/* partener */
.section-partener {
  padding: 5rem 0;
}
.section-partener .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-partener .container h2 {
  border-bottom: 3px solid #aaa;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  color: #444;
}
.section-partener .container .company-logo img {
  width: 13rem;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.3s;
  cursor: pointer;
}
.section-partener .container .company-logo img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
